.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.vid-home {
    position: relative;
}

.remove-vidmargin {
    margin: 0px;
    padding: 0px;
}

video {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.vid-content {
    position: absolute;
    color: rgb(202, 65, 65);
    top: 50%;
    left: 35%;
    text-align: center;
    z-index: 2;
}
.course{
    top:50%;
    text-align: center;
}